@tailwind base;
@tailwind components;
@tailwind utilities;


.centralized-margin {
    margin: auto
}

.movie-item-star-icon {
    @apply h-5 w-5 text-yellow-500;
}

.movie-item-star-icon-unrated {
    @apply h-5 w-5 text-gray-400;
}

.movie-item-big-star-icon {
    @apply h-8 w-8 text-yellow-500
}

.form-grid {
    display: grid;
    gap: 16px;
}